<h1>Boss Dashboard: </h1>

  {{!-- <span>Welcome {{name}}</span> --}}
{{#if user}}
  <div>
    <button><a href="/">Home</a></button>
    <br>
    <br>
    <button><a href="/signup">Create A New User</a></button>
    <br>
    <br>
    <button><a href="/logout">Log Out</a></button>
  </div>
{{/if}}

